<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="~/Content/Styles/front.css">
</head>
<body>
    <div class="main">
        <img src="~/Content/Logo.png">
        <h1>
            Готов тусить?
        </h1>
        <div>
            <label>
                <div class="go">создавай комнату и приглашай друзей</div>
                <a href="/Groups/CreateGroup">
                    <button class="button_css text1">
                        Создать
                    </button>
                </a>
            </label>
        </div>
        <div>
            <label>
                <div class="go1">друзья уже организовали сбор?</div>
                <a href="/Groups/AddItem">
                    <button class="button_2 text2">
                        Присоединиться
                    </button>
                </a>
            </label>
        </div>
    </div>

</body>
</html>