h1{
    position: absolute;
    width: 320px;
    height: 22px;
    left: calc(50% - 320px/2 + 1px);
    top: 261px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #2C2C2C;

}

.main {
	position: relative;
	width: 360px;
	height: 640px;
	border: 1px solid black;
}

.button_css{
    position: absolute;
    width: 180px;
    height: 50px;
    left: calc(50% - 180px/2);
    top: 370px;
    background: #9B51E0;
    border-radius: 30px;
}
.button_2{
    position: absolute;
    width: 180px;
    height: 50px;
    left: calc(50% - 180px/2);
    top: 485px;

    /* Purple 1 */

    background: #9B51E0;
    border-radius: 30px;
}
.text1{
    text-align: center;
    color: #FFFFFF;
}
.text2{
    text-align: center;
    color: #FFFFFF;
}
.go{
    position: absolute;
    width: 320px;
    height: 17px;
    left: 20px;
    top: 332px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    /* Middle grey */

    color: #959595;

}
.go1{
    position: absolute;
    width: 320px;
    height: 17px;
    left: 20px;
    top: 447px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    /* Middle grey */

    color: #959595;
}

img {
	position: absolute;
	width: 201.73px;
	height: 155px;
	left: 79px;
	top: 68px;
}